.todo_header{
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.todo_header button{
    border:0px;
    padding: 10px;
    cursor: pointer;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}

.header_item.search{
    flex:1 1 auto;
}

.todo_search{
    width: 100%;
    height: 30px;
    border: 0px;
    border-bottom: 1px solid #dbdbdb;
    outline: none;
    font-size: 22px;
    font-weight: 100;
    width: 100%;
}

.activ{
    background-color: #3f51b5;
    color: #fff;
}