.todo_list{
    box-shadow: 1px 0px 10px #dfdfdf;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
}


.todo_zero{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #595959;
    text-transform: uppercase;
}