
header a{
    color:#fff;
    text-decoration: none;
}

header{
    display: flex;
    background-color: #3f51b5;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    transition: all .5s;
}

.logo{
    text-transform: uppercase;
    color: #fff;
}

.item{
    display:flex;
    gap:20px;
}

.switch{
    display:flex;
    align-items:center;
}

 .theme{
    width: 45px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid #333;
}

.circle{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #e91e63;
    top: 1px;
    left: 2px;
    z-index: 9999;
    border-radius: 20px;
    transition:  .5s ;
    transform: translateX(0px);
}

.checkbox:checked + .theme .circle{
    transform: translateX(23px);
    background-color: #333;

}

.checkbox {
    display: none;
}